In [11]:
import pandas as pd

In [12]:
combined_pred = pd.read_csv('../predictions/final_pred.csv')
short_pred = pd.read_csv('../predictions/short_pred.csv')
xgb2_pred = pd.read_csv('../predictions/xgboost2_pred.csv')
xgb3_pred = pd.read_csv('../predictions/xgb3_pred.csv')

In [13]:
combined_pred

           id       EAP       HPL       MWS
0     id00008  0.993407  0.005192  0.003269
1     id00011  0.018817  0.975819  0.012980
2     id00013  0.052695  0.958824  0.004239
3     id00018  0.390604  0.482289  0.091665
4     id00020  0.003337  0.993758  0.002127
5     id00023  0.000886  0.996579  0.013004
6     id00025  0.105544  0.906057  0.000356
7     id00026  0.836866  0.015050  0.167272
8     id00040  0.006088  0.963835  0.019790
9     id00041  0.008400  0.000743  0.993240
10    id00044  0.025999  0.001759  0.979037
11    id00046  0.867825  0.018919  0.095503
12    id00047  0.056251  0.777955  0.149666
13    id00055  0.000436  0.000495  0.999200
14    id00058  0.663350  0.221441  0.118581
15    id00059  0.848980  0.078527  0.074640
16    id00066  0.833721  0.139920  0.034806
17    id00069  0.071891  0.891144  0.045788
18    id00071  0.451672  0.019702  0.533253
19    id00072  0.759507  0.003752  0.293471
20    id00074  0.984278  0.002705  0.016807
21    id00076  0.125188  0.028847  0.831437
22    id00083  0.903204  0.091234  0.012410
23    id00085  0.268632  0.800070  0.001182
24    id00087  0.184592  0.822368  0.031803
25    id00088  0.127964  0.016811  0.843475
26    id00089  0.915610  0.061585  0.020820
27    id00092  0.022631  0.076286  0.899087
28    id00096  0.994988  0.002205  0.004354
29    id00101  0.602604  0.206361  0.173806
...       ...       ...       ...       ...
8362  id27878  0.291420  0.309583  0.400088
8363  id27879  0.905080  0.103039  0.005243
8364  id27880  0.012046  0.987455  0.002115
8365  id27884  0.367479  0.238715  0.337065
8366  id27889  0.498093  0.424925  0.030700
8367  id27892  0.683812  0.168487  0.173794
8368  id27893  0.866348  0.068101  0.070175
8369  id27894  0.996842  0.001518  0.006806
8370  id27898  0.144697  0.690659  0.149213
8371  id27899  0.907614  0.091251  0.007068
8372  id27903  0.011408  0.021384  0.971041
8373  id27904  0.866497  0.039326  0.097796
8374  id27905  0.263900  0.345299  0.321685
8375  id27910  0.024371  0.019737  0.966219
8376  id27913  0.837960  0.083663  0.091315
8377  id27922  0.570042  0.154922  0.258877
8378  id27926  0.872132  0.024422  0.105135
8379  id27931  0.008470  0.831095  0.161984
8380  id27933  0.896014  0.010848  0.088913
8381  id27934  0.112791  0.715599  0.152605
8382  id27936  0.738012  0.250132  0.017468
8383  id27941  0.009262  0.990726  0.004240
8384  id27945  0.909118  0.043277  0.032191
8385  id27950  0.689540  0.123775  0.198639
8386  id27952  0.548417  0.188282  0.241260
8387  id27960  0.055183  0.008483  0.936414
8388  id27961  0.783387  0.091020  0.132755
8389  id27963  0.000393  0.002795  0.998986
8390  id27969  0.110557  0.883558  0.011894
8391  id27970  0.603193  0.117789  0.253106

[8392 rows x 4 columns]

In [14]:
short_pred.head()

        id       MWS       EAP       HPL
0  id02310  0.939512  0.052976  0.007511
1  id24541  0.001868  0.976341  0.021791
2  id00134  0.012545  0.015307  0.972148
3  id27757  0.015913  0.488656  0.495431
4  id04081  0.174431  0.645772  0.179797

In [15]:
xgb2_pred.head()

        id       EAP       HPL       MWS
0  id02310  0.031252  0.007071  0.961677
1  id24541  0.998636  0.000810  0.000555
2  id00134  0.024428  0.971831  0.003741
3  id27757  0.722790  0.265629  0.011581
4  id04081  0.931655  0.035305  0.033039

In [17]:
xgb3_pred.head()

        id       EAP       HPL       MWS
0  id02310  0.002704  0.979671  0.017625
1  id24541  0.001529  0.002287  0.996185
2  id00134  0.956310  0.001956  0.041735
3  id27757  0.207068  0.003987  0.788946
4  id04081  0.017727  0.015621  0.966651

In [18]:
print(combined_pred.shape)
print(short_pred.shape)
print(xgb2_pred.shape)
print(xgb3_pred.shape)

(8392, 4)
(8392, 4)
(8392, 4)
(8392, 4)

In [19]:
all_pred = pd.concat((combined_pred, short_pred, xgb2_pred, xgb3_pred))

In [20]:
by_id_index = all_pred.groupby('id', as_index=False)
final_pred = by_id_index.mean()

In [21]:
final_pred.head()

        id       EAP       HPL       MWS
0  id00008  0.745562  0.002867  0.252039
1  id00011  0.275358  0.717672  0.008874
2  id00013  0.279370  0.718569  0.006000
3  id00018  0.474440  0.346180  0.170520
4  id00020  0.252913  0.743990  0.002903

In [22]:
final_pred.to_csv('../predictions/more_final_pred.csv', index=False)