In [4]:
import pandas as pd

In [6]:
sub = pd.read_csv("en_sample_submission.csv")
test = pd.read_csv("en_test.csv")
train = pd.read_csv("en_train.csv")

In [8]:
sub.head()

    id      after
0  0_0    Another
1  0_1  religious
2  0_2     family
3  0_3         is
4  0_4         of

In [9]:
train.head()

   sentence_id  token_id  class         before          after
0            0         0  PLAIN  Brillantaisia  Brillantaisia
1            0         1  PLAIN             is             is
2            0         2  PLAIN              a              a
3            0         3  PLAIN          genus          genus
4            0         4  PLAIN             of             of

In [11]:
test.head(50)

    sentence_id  token_id          before
0             0         0         Another
1             0         1       religious
2             0         2          family
3             0         3              is
4             0         4              of
5             0         5          Hazrat
6             0         6          Sayyed
7             0         7           Ahmad
8             0         8             and
9             0         9             his
10            0        10          nephew
11            0        11          Hazrat
12            0        12           Abdul
13            0        13             Haq
14            0        14               .
15            1         0             The
16            1         1            free
17            1         2          webapp
18            1         3   functionality
19            1         4        contains
20            1         5  advertisements
21            1         6          geared
22            1         7              to
23            1         8           small
24            1         9      businesses
25            1        10               .
26            2         0         Kuklick
27            2         1               ,
28            2         2               p
29            2         3               .
30            2         4              75
31            2         5         Kuklick
32            2         6               ,
33            2         7               p
34            2         8               .
35            2         9              76
36            2        10        Westcott
37            2        11               ,
38            2        12               p
39            2        13               .
40            2        14             124
41            2        15         Kuklick
42            2        16               ,
43            2        17              pp
44            2        18               .
45            3         0               "
46            3         1            2010
47            3         2            FINA
48            3         3           World
49            3         4        Swimming